.alertPopup {
    width: 80%; 
    height: auto;
    margin-left: 10%;
    position:fixed;
    z-index: 99999;
    top:10px;
    background-color: #5CB85C;
    color: #F0F0F0;
    padding:10px;
    text-align:center;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.bg-image{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.80;
    z-index: 0;
}